@import 'common';
.accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    .forimg{
        width: 600px;
        height: 200px;
        max-height: 0;
        transition: max-height 1s; 
        img{
            display: inline-block;
            width: 100%;
            height: 100%;
        }
    }
}
