.popover {
  white-space: nowrap !important;
}

.imgWrap img {
  display: block;
  max-width: 100%;
  width: 100%;
}

body {
  padding-top: 50px;
}

body header .navbar {
  border-width: 0;
  margin-bottom: 0;
}

body header .navbar .navbar-brand {
  padding: 7px 15px 7px 20px;
}

body footer {
  padding-top: 30px;
  padding-bottom: 37px;
  background-color: #3b3b3b;
}

body footer .container .row .footleft p:first-child {
  line-height: 14px;
  margin-bottom: 15px;
}

body footer .container .row .footleft p:first-child span {
  color: #a1a3ab;
  margin-left: 14px;
  font-size: 14px;
}

body footer .container .row .footleft p:first-child span:hover {
  opacity: 0.6;
}

body footer .container .row .footleft p:first-child span:first-child {
  margin-left: 0;
}

body footer .container .row .footleft p:last-child {
  font-size: 12px;
  color: #a1a3ab;
}

body footer .container .row .footright .row .footitem {
  padding-left: 7px;
  padding-right: 7px;
}

body footer .container .row .footright .row .footitem button {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-image: url(../img/common/email.png);
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  body footer .container .footleft {
    width: 100%;
  }
  body footer .container .footright {
    text-align: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar .nav > li > a {
    padding: 15px 3px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

body {
  margin: 0;
  padding: 0;
}

body .web .loadpage {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/load/load.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body .web .loadpage .loadnum {
  position: absolute;
  left: 1rem;
  bottom: 5.5rem;
  color: white;
  font-weight: bolder;
}

body .web .loadpage .midload {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 7rem;
  bottom: 0.5rem;
  -webkit-animation: goup 1.5s ease;
          animation: goup 1.5s ease;
}

body .web .loadpage .midload img {
  width: 100%;
  height: 100%;
}

body .web .loadpage .tiaoload {
  width: 80px;
  height: 50px;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

body .web .loadpage .tiaoload img {
  width: 100%;
  height: 100%;
}

body .web .startpage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body .web .startpage .light {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 25rem solid #555;
  border-right: 25rem solid #555;
  position: absolute;
  top: -999px;
  left: -999px;
  right: -999px;
  bottom: -999px;
  margin: auto;
}

body .web .startpage .lg1 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-animation: lgs1 3s linear infinite;
          animation: lgs1 3s linear infinite;
}

body .web .startpage .lg2 {
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
  -webkit-animation: lgs2 3s linear infinite;
          animation: lgs2 3s linear infinite;
}

body .web .startpage .lg3 {
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
  -webkit-animation: lgs3 3s linear infinite;
          animation: lgs3 3s linear infinite;
}

body .web .startpage .lg4 {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-animation: lgs4 3s linear infinite;
          animation: lgs4 3s linear infinite;
}

body .web .startpage .lg5 {
  -webkit-transform: rotateZ(120deg);
          transform: rotateZ(120deg);
  -webkit-animation: lgs5 3s linear infinite;
          animation: lgs5 3s linear infinite;
}

body .web .startpage .lg6 {
  -webkit-transform: rotateZ(150deg);
          transform: rotateZ(150deg);
  -webkit-animation: lgs6 3s linear infinite;
          animation: lgs6 3s linear infinite;
}

body .web .startpage .starthead {
  z-index: 999;
  position: absolute;
}

body .web .startpage .starthead .logo {
  padding-top: 10px;
  padding-right: 10px;
  text-align: right;
}

body .web .startpage .starthead .logo img {
  width: 40%;
  height: 80%;
}

body .web .startpage .starthead .item {
  text-align: center;
  margin-top: 15px;
}

body .web .startpage .starthead .item img {
  width: 90%;
  height: 100%;
}

body .web .startpage .mouce {
  z-index: 0;
  height: 50%;
  position: absolute;
  top: 14rem;
  -webkit-animation: moucebig 0.5s linear infinite;
          animation: moucebig 0.5s linear infinite;
}

body .web .startpage .mouce .moucing {
  width: 100%;
  height: 100%;
  text-align: center;
}

body .web .startpage .mouce .moucing img {
  width: 80%;
  height: 70%;
}

body .web .startpage .man {
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

body .web .startpage .man .aboutlman {
  position: absolute;
  z-index: 100;
  top: -3rem;
  left: 0.5rem;
  width: 40%;
  height: 70%;
  -webkit-animation: alman 1s linear infinite;
          animation: alman 1s linear infinite;
}

body .web .startpage .man .aboutlman img {
  width: 80%;
  height: 100%;
}

body .web .startpage .man .lman {
  width: 50%;
  padding-left: 10px;
}

body .web .startpage .man .lman img {
  width: 100%;
  height: 85%;
}

body .web .startpage .man .rman {
  width: 50%;
  padding-right: 5px;
}

body .web .startpage .man .rman img {
  width: 100%;
  height: 95%;
}

body .web .startpage .startbtu {
  position: absolute;
  bottom: 1.5rem;
  z-index: 999;
  text-align: center;
  -webkit-animation: stbtu 2s linear infinite;
          animation: stbtu 2s linear infinite;
}

body .web .startpage .startbtu img {
  width: 45%;
  height: 100%;
}

body .web .swiper-container {
  width: 100vw;
  height: 100vh;
}

body .web .swiper-container .swiper-wrapper .ssone .movie {
  width: 100%;
  height: 100%;
  background-image: url("../img/banner/movie/movie.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body .web .swiper-container .swiper-wrapper .ssone .movie .movieone {
  text-align: center;
  position: absolute;
  top: 55%;
  z-index: 999;
}

body .web .swiper-container .swiper-wrapper .ssone .movie .movieone img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssone .movie .movietwo {
  text-align: center;
  position: absolute;
  top: 28%;
}

body .web .swiper-container .swiper-wrapper .ssone .movie .movietwo img {
  width: 80%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssone .movie .moviethree {
  position: absolute;
  top: 15%;
}

body .web .swiper-container .swiper-wrapper .ssone .movie .moviethree img {
  width: 90%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .sstwo {
  position: relative;
  overflow: hidden;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock {
  position: relative;
  top: 50%;
  left: 0;
  right: 0;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lighttwo {
  width: 0;
  height: 0;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 25rem solid #555;
  border-right: 25rem solid #555;
  position: absolute;
  top: -999px;
  left: -999px;
  right: -999px;
  bottom: -999px;
  margin: auto;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lg11 {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-animation: lgs1 3s linear infinite;
          animation: lgs1 3s linear infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lg22 {
  -webkit-transform: rotateZ(30deg);
          transform: rotateZ(30deg);
  -webkit-animation: lgs2 3s linear infinite;
          animation: lgs2 3s linear infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lg33 {
  -webkit-transform: rotateZ(60deg);
          transform: rotateZ(60deg);
  -webkit-animation: lgs3 3s linear infinite;
          animation: lgs3 3s linear infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lg44 {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  -webkit-animation: lgs4 3s linear infinite;
          animation: lgs4 3s linear infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lg55 {
  -webkit-transform: rotateZ(120deg);
          transform: rotateZ(120deg);
  -webkit-animation: lgs5 3s linear infinite;
          animation: lgs5 3s linear infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rock .lg66 {
  -webkit-transform: rotateZ(150deg);
          transform: rotateZ(150deg);
  -webkit-animation: lgs6 3s linear infinite;
          animation: lgs6 3s linear infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .caideng {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .caideng img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockman {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 9rem;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockman .rockml {
  width: 50%;
  position: absolute;
  top: 2rem;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockman .rockml img {
  width: 100%;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockman .rockmr {
  width: 50%;
  position: absolute;
  right: 0;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockman .rockmr img {
  width: 100%;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockmid {
  position: absolute;
  z-index: 100;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 5.5rem;
  text-align: center;
  z-index: 999;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockmid .rockmidman {
  width: 70%;
  position: absolute;
  left: 15%;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockmid .rockmidman img {
  width: 100%;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockmb {
  width: 100%;
  position: absolute;
  bottom: 35%;
  z-index: 100;
}

body .web .swiper-container .swiper-wrapper .sstwo .rockmb img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssthree {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/banner/classic/back.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body .web .swiper-container .swiper-wrapper .ssthree .classicdeng {
  position: absolute;
  top: 0;
}

body .web .swiper-container .swiper-wrapper .ssthree .classicdeng img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssthree .bang {
  position: absolute;
  top: 25%;
}

body .web .swiper-container .swiper-wrapper .ssthree .bang > div {
  width: 60%;
}

body .web .swiper-container .swiper-wrapper .ssthree .bang > div > img {
  width: 100%;
}

body .web .swiper-container .swiper-wrapper .ssthree .bang .bangone {
  position: relative;
  z-index: 100;
}

body .web .swiper-container .swiper-wrapper .ssthree .bang .bangtwo {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 30%;
}

body .web .swiper-container .swiper-wrapper .ssthree .qiang {
  position: absolute;
  top: 45%;
}

body .web .swiper-container .swiper-wrapper .ssthree .qiang img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssthree .threeman {
  position: absolute;
  top: 10%;
}

body .web .swiper-container .swiper-wrapper .ssthree .threeman img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssthree .jojo {
  position: absolute;
  top: 10%;
  height: 60%;
  z-index: 150;
  text-align: center;
}

body .web .swiper-container .swiper-wrapper .ssthree .jojo img {
  width: 90%;
  height: 90%;
}

body .web .swiper-container .swiper-wrapper .ssfour {
  background-image: url("../img/banner/rapper/car-bj.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body .web .swiper-container .swiper-wrapper .ssfour .rapperone {
  position: absolute;
  top: 4rem;
  left: 1rem;
  -webkit-animation: moucebig 0.5s linear infinite;
          animation: moucebig 0.5s linear infinite;
}

body .web .swiper-container .swiper-wrapper .ssfour .rapperone img {
  width: 70%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .ssfour .rappertwo {
  position: absolute;
  top: 10rem;
  text-align: center;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .web .swiper-container .swiper-wrapper .ssfour .rappertwo img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .oldsong {
  background-image: url("../img/banner/oldsong/laogeye-yuanhBj.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body .web .swiper-container .swiper-wrapper .oldsong .oldsonghead {
  position: absolute;
  top: 0;
  right: -8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body .web .swiper-container .swiper-wrapper .oldsong .oldsonghead img {
  width: 90%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .oldsong .oldsongmid {
  position: absolute;
  top: 4rem;
  height: 50%;
  text-align: center;
  z-index: 999;
}

body .web .swiper-container .swiper-wrapper .oldsong .oldsongmid img {
  width: 80%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .oldsong .oldsongright {
  position: absolute;
  top: 13rem;
  text-align: center;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

body .web .swiper-container .swiper-wrapper .oldsong .oldsongright img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .pop {
  background-image: url("../img/banner/pop/liuxingge-bolang.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body .web .swiper-container .swiper-wrapper .pop .popleft {
  position: absolute;
  top: 10rem;
  width: 100%;
}

body .web .swiper-container .swiper-wrapper .pop .popleft img {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .pop .popmid {
  position: absolute;
  top: 3rem;
  right: 0;
  width: 60%;
  text-align: end;
}

body .web .swiper-container .swiper-wrapper .pop .popmid img {
  width: 95%;
  height: 100%;
}

body .web .swiper-container .swiper-wrapper .pop .popright {
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 60%;
  text-align: left;
}

body .web .swiper-container .swiper-wrapper .pop .popright img {
  width: 90%;
  height: 100%;
}

body .web .swiper-container .select {
  position: fixed;
  bottom: 20px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9999;
  width: 100vw;
  padding-left: 1rem;
  display: none;
}

body .web .swiper-container .select .selleft {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .web .swiper-container .select .selleft .a {
  position: relative;
}

body .web .swiper-container .select .selleft .a .aa {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .select .selleft .a .songnameone {
  position: absolute;
  top: 0.5rem;
  margin: 0;
  left: 3rem;
}

body .web .swiper-container .select .selleft .b {
  position: relative;
}

body .web .swiper-container .select .selleft .b .bb {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .select .selleft .b .songnametwo {
  position: absolute;
  top: 0.5rem;
  margin: 0;
  left: 3rem;
}

body .web .swiper-container .select .selleft .c {
  position: relative;
}

body .web .swiper-container .select .selleft .c .cc {
  width: 100%;
  height: 100%;
}

body .web .swiper-container .select .selleft .c .songnamethree {
  position: absolute;
  top: 0.5rem;
  margin: 0;
  left: 3rem;
}

body .web .swiper-container .select .selright {
  width: 40%;
}

body .web .swiper-container .select .selright .seltime {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: relative;
}

body .web .swiper-container .select .selright .seltime img {
  width: 50%;
  height: 90%;
}

body .web .swiper-container .select .selright .seltime .countdown {
  position: absolute;
  top: 30%;
}

body .web .swiper-container .select .selright .seldown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body .web .swiper-container .select .selright .seldown img {
  width: 35%;
  height: 80%;
}

body .web .swiper-container .aboutaudio {
  max-height: 0;
  visibility: hidden;
}

@-webkit-keyframes goup {
  from {
    -webkit-transform: translateY(100%) scale(0, 0);
            transform: translateY(100%) scale(0, 0);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
  }
}

@keyframes goup {
  from {
    -webkit-transform: translateY(100%) scale(0, 0);
            transform: translateY(100%) scale(0, 0);
  }
  to {
    -webkit-transform: translateY(0) scale(1, 1);
            transform: translateY(0) scale(1, 1);
  }
}

@-webkit-keyframes lgs1 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes lgs1 {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@-webkit-keyframes lgs2 {
  from {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  to {
    -webkit-transform: rotateZ(390deg);
            transform: rotateZ(390deg);
  }
}

@keyframes lgs2 {
  from {
    -webkit-transform: rotateZ(30deg);
            transform: rotateZ(30deg);
  }
  to {
    -webkit-transform: rotateZ(390deg);
            transform: rotateZ(390deg);
  }
}

@-webkit-keyframes lgs3 {
  from {
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
  }
  to {
    -webkit-transform: rotateZ(420deg);
            transform: rotateZ(420deg);
  }
}

@keyframes lgs3 {
  from {
    -webkit-transform: rotateZ(60deg);
            transform: rotateZ(60deg);
  }
  to {
    -webkit-transform: rotateZ(420deg);
            transform: rotateZ(420deg);
  }
}

@-webkit-keyframes lgs4 {
  from {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  to {
    -webkit-transform: rotateZ(450deg);
            transform: rotateZ(450deg);
  }
}

@keyframes lgs4 {
  from {
    -webkit-transform: rotateZ(90deg);
            transform: rotateZ(90deg);
  }
  to {
    -webkit-transform: rotateZ(450deg);
            transform: rotateZ(450deg);
  }
}

@-webkit-keyframes lgs5 {
  from {
    -webkit-transform: rotateZ(120deg);
            transform: rotateZ(120deg);
  }
  to {
    -webkit-transform: rotateZ(480deg);
            transform: rotateZ(480deg);
  }
}

@keyframes lgs5 {
  from {
    -webkit-transform: rotateZ(120deg);
            transform: rotateZ(120deg);
  }
  to {
    -webkit-transform: rotateZ(480deg);
            transform: rotateZ(480deg);
  }
}

@-webkit-keyframes lgs6 {
  from {
    -webkit-transform: rotateZ(150deg);
            transform: rotateZ(150deg);
  }
  to {
    -webkit-transform: rotateZ(510deg);
            transform: rotateZ(510deg);
  }
}

@keyframes lgs6 {
  from {
    -webkit-transform: rotateZ(150deg);
            transform: rotateZ(150deg);
  }
  to {
    -webkit-transform: rotateZ(510deg);
            transform: rotateZ(510deg);
  }
}

@-webkit-keyframes moucebig {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
}

@keyframes moucebig {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.05, 1.05);
            transform: scale(1.05, 1.05);
  }
}

@-webkit-keyframes alman {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@keyframes alman {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@-webkit-keyframes stbtu {
  0% {
    -webkit-transform: rotateZ(0) scale3d(1, 1, 1);
            transform: rotateZ(0) scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: rotateZ(5deg) scale3d(1.15, 1.15, 1.15);
            transform: rotateZ(5deg) scale3d(1.15, 1.15, 1.15);
  }
  35% {
    -webkit-transform: rotateZ(0) scale3d(1.2, 1.2, 1.2);
            transform: rotateZ(0) scale3d(1.2, 1.2, 1.2);
  }
  50% {
    -webkit-transform: rotateZ(-5deg) scale3d(1.25, 1.25, 1.25);
            transform: rotateZ(-5deg) scale3d(1.25, 1.25, 1.25);
  }
  65% {
    -webkit-transform: rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
            transform: rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
  }
  75% {
    -webkit-transform: rotateZ(5deg) scale3d(1.35, 1.35, 1.35);
            transform: rotateZ(5deg) scale3d(1.35, 1.35, 1.35);
  }
  90% {
    -webkit-transform: rotateZ(0deg) scale3d(1.4, 1.4, 1.4);
            transform: rotateZ(0deg) scale3d(1.4, 1.4, 1.4);
  }
  100% {
    -webkit-transform: rotateZ(-5deg) scale3d(1.4, 1.4, 1.4);
            transform: rotateZ(-5deg) scale3d(1.4, 1.4, 1.4);
  }
}

@keyframes stbtu {
  0% {
    -webkit-transform: rotateZ(0) scale3d(1, 1, 1);
            transform: rotateZ(0) scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: rotateZ(5deg) scale3d(1.15, 1.15, 1.15);
            transform: rotateZ(5deg) scale3d(1.15, 1.15, 1.15);
  }
  35% {
    -webkit-transform: rotateZ(0) scale3d(1.2, 1.2, 1.2);
            transform: rotateZ(0) scale3d(1.2, 1.2, 1.2);
  }
  50% {
    -webkit-transform: rotateZ(-5deg) scale3d(1.25, 1.25, 1.25);
            transform: rotateZ(-5deg) scale3d(1.25, 1.25, 1.25);
  }
  65% {
    -webkit-transform: rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
            transform: rotateZ(0deg) scale3d(1.3, 1.3, 1.3);
  }
  75% {
    -webkit-transform: rotateZ(5deg) scale3d(1.35, 1.35, 1.35);
            transform: rotateZ(5deg) scale3d(1.35, 1.35, 1.35);
  }
  90% {
    -webkit-transform: rotateZ(0deg) scale3d(1.4, 1.4, 1.4);
            transform: rotateZ(0deg) scale3d(1.4, 1.4, 1.4);
  }
  100% {
    -webkit-transform: rotateZ(-5deg) scale3d(1.4, 1.4, 1.4);
            transform: rotateZ(-5deg) scale3d(1.4, 1.4, 1.4);
  }
}
/*# sourceMappingURL=index.css.map */