@charset "utf-8";
@import "reset";

li{
    list-style-type: none;
}
.header{
    background-color: #06002c;
    padding-top: 32px;
    .hone{
        display: flex;
        justify-content: space-between;
        padding-left: 37px;
        .oneleft{
            display: flex;
            justify-content: space-between;
            li{
                margin-right: 29px;
                color: white;
            }
        }
        .oneright{
            display: flex;
            justify-content: space-between;
            li{
                margin-right: 39px;
                color: #a2a2a2;
            }
        }
    }
    .headcontent{
        background-image: url(../img/head.png);
        background-repeat: no-repeat;
        background-position: center;
        padding-top: 116px;
        padding-bottom: 52px;
        .htwo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .htwoh{
                span:nth-of-type(1){
                    color: white;
                    font-size: 45px;
                }
                span:nth-of-type(2){
                    color: #2e88fa;
                    font-size: 45px;
                }
            }
            .htwob{
                margin-top: 21px;
                span{
                    color: white;
                    font-size: 16px;
                }
            }
        }
        .hthree{
            display: flex;
            justify-content: center;
            margin-top: 46px;
            div{
                background-color: #fbb233;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 11px 27px;
                border-radius: 6px;
                span:nth-of-type(1){
                    color: #c47d00;
                }
                span:nth-of-type(2){
                    font-size: 22px;
                    color: #a44900;
                    font-weight: bold;
                }
            }
            .hthreeleft{
                margin-right: 36px;
            }
        }
    }
}

.lucky{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #161535;
    .getTDD{
        width: 985px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #201a48;
        margin-top: 35px;
        margin-bottom: 35px;
        color: white;
        padding-top: 13px;
        padding-bottom: 13px;
        img{
            margin-right: 10px;
        }
    }
    .crotary{
        display: flex;
        justify-content: center;
        .left{
            padding: 72px;
            position: relative;
            background-color: #201a48;
            display: flex;
            justify-content: center;
            align-items: center;
            .rotaryfour{
                width: 520px;
                height: 520px;
                border-radius: 50%;
                background-color:#fbb234;
                display: flex;
                justify-content: center;
                align-items: center;
                .rotarythree{
                    width: 510px;
                    height: 510px;
                    border-radius: 50%;
                    background-color:#231c47;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .rotaryone{
                        width: 490px;
                        height: 490px;
                        border-radius: 50%;
                        background-color:#ffd681;
                        box-shadow:inset 10px 10px 20px 5px #ffd681;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .rotarytwo{
                            width: 460px;
                            height: 460px;
                            border-radius: 50%;
                            background-color:#fe8b36;
                            box-shadow:1px 1px 8px #fe8b36,-1px -1px 8px #fe8b36,-1px 1px 8px #fe8b36,1px -1px 8px #fe8b36;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .rotary{
                                width: 450px;
                                height: 450px;
                                background-color:#fe8b36;
                                border-radius: 50%;
                                overflow: hidden;
                                transition: transform 1s;
                                position: absolute;
                                .rotaryball{
                                    position: absolute;
                                    margin: 0;
                                    top: 0;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 50%;
                                    height: 50%;
                                    background-color: #ffe9c2;
                                    transform-origin: 100% 100%;
                                    border: 1px solid yellow;
                                    color: #fe8b36;
                                    text-align: center;
                                    transition: transform 2s;
                                    display: flex;
                                    .ballcontent{
                                        display: inline-block;
                                        color: #fe903e;
                                        margin-top: 20px;
                                        width: 100px;
                                        height: 120px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .mids{
                width: 100px;
                height: 100px;
                border-radius: 50%;
                background-color: #ff4443;
                position: absolute;
                margin: 0;
                top: 44%;
                left: 43%;
                transform-origin: center center;
                color: white;
                border: 10px solid #feba65; 
                z-index: 20px;            
                .mid{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    span{
                        font-weight: bolder;
                        font-size: 22px;
                    }
                }
            }
            .arrow{
                position: absolute;
                top: 52%;
                left: 50%;
                width: 40px;
                height: 40px;
                background-color: #de2207;
                transform-origin: top left;
                transform: rotate(0) skewY(30deg);
            }
        }
        .right{
            padding: 24px;
            margin-left: 37px;
            background-color: #201a48;
            color: white;
            overflow: hidden;
            .hright{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .hr{
                    margin-left: 10px;
                    margin-right: 10px;
                    display: flex;
                    justify-content: space-between;
                    background-color: #4e3eb4;
                    padding: 11px;
                    border-radius: 30px;
                    span{
                        letter-spacing: 3px;
                        b{
                            color: #fbb234;
                        }
                    }
                }
            }
            .hright::before{
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #4e3eb4;
            }
            .hright::after{
                content: '';
                display: inline-block;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #4e3eb4;
            }
            .mright{
                margin-top: 27px;
                display: flex;
                justify-content: space-around;
                color: #9785ff;
            }
            .righttc{
                overflow-y: scroll;
                margin-top: 10px;
                height: 500px;
                > div{
                    margin-top: 27px;
                    display: flex;
                    justify-content: space-around;
                    color: white;
                }
            }
            .righttc::-webkit-scrollbar {
                width: 10px;
                background-color: #F5F5F5;
            }
            .righttc::-webkit-scrollbar-thumb {
                border-radius: 10px;
                background-color: #FFF;
                background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#1e023a), to(rgb(131, 13, 167)), color-stop(.6,rgb(221, 130, 221)));
            }
        }
    }
    .luckybottom{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 967px;
        padding: 55px 0;
        .lbh{
            color: #3a96fb;
            font-size: 28px;
            margin-bottom: 28px;
        }
        .lbc{
            color: #b0aad5;
            p{
                word-break: break-all;
                margin-bottom: 14px;
                b{
                    color: #318bfa;
                }
            }
        }
    }
}

.footer{
    display: flex;
    justify-content: center;
    background-color: #17181b;
    padding: 66px 0;
    .footleft{
        display: flex;
        div{
            margin-right: 82px;
            h4{
                color: white;
                margin-bottom: 30px;
            }
            li{
                color: #626369;
                margin-bottom: 22px;
            }
        }
    }
    .footright{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-left: 300px;
        color: #5e5f65;
        p{
            margin-bottom: 40px;
        }
        div{
            display: flex;
            margin-bottom: 40px;
            li{
                margin-left: 20px;
                i{
                    font-size: 26px;
                }
            }
        }
    }
}