@charset "UTF-8";
body, p, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, select, textarea, button, th, td, menu {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul, dl, ol {
  list-style: none;
}

img, fieldset, input[type="submit"] {
  border: 0 none;
}

em {
  font-style: normal;
}

strong {
  font-weight: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, input[type="button"] {
  cursor: pointer;
  border: 0 none;
}

a, button, input, img {
  -webkit-touch-callout: none;
}

img {
  /*pointer-events:none;*/
  /*禁止图片的点击事件，例如长按保存图片*/
}

input, select, textarea {
  outline: none;
}

a {
  text-decoration: none;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  clear: both;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

html, body {
  /*禁止用户选择元素*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  /*禁止元素点击出现半透明黑色背景*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  /*height: 100%;width: 100%;*/
  font-family: 'Heiti SC', 'Microsoft YaHei';
  outline: 0;
  -webkit-text-size-adjust: none;
}

body {
  /*height: 100%;*/
  margin: 0;
  position: relative;
}

li {
  list-style-type: none;
}

.header {
  background-color: #06002c;
  padding-top: 32px;
}

.header .hone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 37px;
}

.header .hone .oneleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .hone .oneleft li {
  margin-right: 29px;
  color: white;
}

.header .hone .oneright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .hone .oneright li {
  margin-right: 39px;
  color: #a2a2a2;
}

.header .headcontent {
  background-image: url(../img/head.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 116px;
  padding-bottom: 52px;
}

.header .headcontent .htwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .headcontent .htwo .htwoh span:nth-of-type(1) {
  color: white;
  font-size: 45px;
}

.header .headcontent .htwo .htwoh span:nth-of-type(2) {
  color: #2e88fa;
  font-size: 45px;
}

.header .headcontent .htwo .htwob {
  margin-top: 21px;
}

.header .headcontent .htwo .htwob span {
  color: white;
  font-size: 16px;
}

.header .headcontent .hthree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 46px;
}

.header .headcontent .hthree div {
  background-color: #fbb233;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 27px;
  border-radius: 6px;
}

.header .headcontent .hthree div span:nth-of-type(1) {
  color: #c47d00;
}

.header .headcontent .hthree div span:nth-of-type(2) {
  font-size: 22px;
  color: #a44900;
  font-weight: bold;
}

.header .headcontent .hthree .hthreeleft {
  margin-right: 36px;
}

.lucky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161535;
}

.lucky .getTDD {
  width: 985px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #201a48;
  margin-top: 35px;
  margin-bottom: 35px;
  color: white;
  padding-top: 13px;
  padding-bottom: 13px;
}

.lucky .getTDD img {
  margin-right: 10px;
}

.lucky .crotary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lucky .crotary .left {
  padding: 72px;
  position: relative;
  background-color: #201a48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lucky .crotary .left .rotaryfour {
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background-color: #fbb234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lucky .crotary .left .rotaryfour .rotarythree {
  width: 510px;
  height: 510px;
  border-radius: 50%;
  background-color: #231c47;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lucky .crotary .left .rotaryfour .rotarythree .rotaryone {
  width: 490px;
  height: 490px;
  border-radius: 50%;
  background-color: #ffd681;
  -webkit-box-shadow: inset 10px 10px 20px 5px #ffd681;
          box-shadow: inset 10px 10px 20px 5px #ffd681;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lucky .crotary .left .rotaryfour .rotarythree .rotaryone .rotarytwo {
  width: 460px;
  height: 460px;
  border-radius: 50%;
  background-color: #fe8b36;
  -webkit-box-shadow: 1px 1px 8px #fe8b36,-1px -1px 8px #fe8b36,-1px 1px 8px #fe8b36,1px -1px 8px #fe8b36;
          box-shadow: 1px 1px 8px #fe8b36,-1px -1px 8px #fe8b36,-1px 1px 8px #fe8b36,1px -1px 8px #fe8b36;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lucky .crotary .left .rotaryfour .rotarythree .rotaryone .rotarytwo .rotary {
  width: 450px;
  height: 450px;
  background-color: #fe8b36;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  position: absolute;
}

.lucky .crotary .left .rotaryfour .rotarythree .rotaryone .rotarytwo .rotary .rotaryball {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  background-color: #ffe9c2;
  -webkit-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
  border: 1px solid yellow;
  color: #fe8b36;
  text-align: center;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.lucky .crotary .left .rotaryfour .rotarythree .rotaryone .rotarytwo .rotary .rotaryball .ballcontent {
  display: inline-block;
  color: #fe903e;
  margin-top: 20px;
  width: 100px;
  height: 120px;
}

.lucky .crotary .left .mids {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ff4443;
  position: absolute;
  margin: 0;
  top: 44%;
  left: 43%;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  color: white;
  border: 10px solid #feba65;
  z-index: 20px;
}

.lucky .crotary .left .mids .mid {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lucky .crotary .left .mids .mid span {
  font-weight: bolder;
  font-size: 22px;
}

.lucky .crotary .left .arrow {
  position: absolute;
  top: 52%;
  left: 50%;
  width: 40px;
  height: 40px;
  background-color: #de2207;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(0) skewY(30deg);
          transform: rotate(0) skewY(30deg);
}

.lucky .crotary .right {
  padding: 24px;
  margin-left: 37px;
  background-color: #201a48;
  color: white;
  height: 700px;
  overflow: hidden;
}

.lucky .crotary .right .hright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lucky .crotary .right .hright .hr {
  margin-left: 10px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #4e3eb4;
  padding: 11px;
  border-radius: 30px;
}

.lucky .crotary .right .hright .hr span {
  letter-spacing: 3px;
}

.lucky .crotary .right .hright .hr span b {
  color: #fbb234;
}

.lucky .crotary .right .hright::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4e3eb4;
}

.lucky .crotary .right .hright::after {
  content: '';
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #4e3eb4;
}

.lucky .crotary .right .mright {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9785ff;
}

.lucky .crotary .right .righttc > div {
  margin-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

.lucky .luckybottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 967px;
  padding: 55px 0;
}

.lucky .luckybottom .lbh {
  color: #3a96fb;
  font-size: 28px;
  margin-bottom: 28px;
}

.lucky .luckybottom .lbc {
  color: #b0aad5;
}

.lucky .luckybottom .lbc p {
  word-break: break-all;
  margin-bottom: 14px;
}

.lucky .luckybottom .lbc p b {
  color: #318bfa;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #17181b;
  padding: 66px 0;
}

.footer .footleft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footleft div {
  margin-right: 82px;
}

.footer .footleft div h4 {
  color: white;
  margin-bottom: 30px;
}

.footer .footleft div li {
  color: #626369;
  margin-bottom: 22px;
}

.footer .footright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 300px;
  color: #5e5f65;
}

.footer .footright p {
  margin-bottom: 40px;
}

.footer .footright div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.footer .footright div li {
  margin-left: 20px;
}

.footer .footright div li i {
  font-size: 26px;
}
/*# sourceMappingURL=index.css.map */